body {
    background-color: black;
    font-family: Arial;
    width: 80%;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    margin-top: 25px;
}

.nav li {
    font-family: arial;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    border-radius: 25px;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .5s background-color;
}

.nav a:hover {
    background-color: red;
}

.nav a.active {
    background-color: red;
    color: red;
    cursor: default;
}

.paragraaf {
    font-size: 25px;
    border-radius: 25px;
    margin-top: 25px;
    color: black;
    background-color: white;
    height: 100%;
    padding: 20px;
}

.blok {
    background-color: red;
    height: auto;
    border-radius: 25px;
    width: 98%;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

.PF {
    border-radius: 25px;
    margin: auto;
    float: right;
    margin-top: 45px;
    margin-right: 45px;
}

ul {
    text-align: left;
}

table img {
    border-radius: 25px;
}

footer {
    background-color: white;
    margin-top: auto;
    height: auto;
    text-align: center;
    border-radius: 25px;
}

.fbss {
    margin-right: 30px;
}

.knop {
    border-radius: 25px;
    background-color: black;
    border-width: 8px;
    border-color: black;
    margin: 10px;
}
